<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>404</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="http://test.baoming.xingaokaowang.cn/static/css/apply-f4088dfb94.css">
</head>
<body>
<header>
	<span class="left"><img src="http://test.baoming.xingaokaowang.cn/static/images/arrow-left.png" onclick="history.back()"></span>
	<span class="center">404</span>
	<span class="left"><a href="/order/"><img src="http://test.baoming.xingaokaowang.cn/static/images/user.png"></a></span>
</header>

<div style="margin: 20px auto 0;display: block;text-align: center">
	<img src="http://test.baoming.xingaokaowang.cn/static/images/404.png" width="80%" >
	<p>您请求的资源没有找到~</p>
</div>

</body>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="http://test.baoming.xingaokaowang.cn/static/js/weixinshare-17cdc0cb6a.js"></script>
</html>