<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>希望杯作文大赛</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="http://test.baoming.xingaokaowang.cn/static/css/check-87d7941979.css">
</head>
<body>

<header>
    <span class="left"><img src="http://test.baoming.xingaokaowang.cn/static/images/arrow-left.png" onclick="history.back()"></span>
    <span class="center">支付报名费</span>
    <span class="left"><a href="/order/"><img src="http://test.baoming.xingaokaowang.cn/static/images/user.png"></a></span>
</header>
    <!--确认个人订单信息-->
    <% if(data.signup_state !== 1){ %>
    <div class="ch-header">
        <span>还差最后一步就完成报名啦</span>
        <span>支付之前核对一下个人信息哦</span>
    </div>
		<% } %>
    <div class="ch-content">
    <div class="ch-content-table">
        <section>
            <span class="ch-border-r">参赛者姓名:<%= data.user_name %></span>
            <span>地区:<%= data.province_name %> <%= data.city_name %> <%= data.district_name%></span>
        </section>
        <section>
            <span>学校:<%= data.school_name %></span>
        </section>
        <section>
            <span class="ch-border-r">年级组:<%= data.grade_name %></span>
            <span>年级:<%= data.class_name %></span>
        </section>
        <section>
            <span class="ch-border-r">家长姓名:<%= data.parent_name %></span>
            <span>联系电话:<%= data.phone_number %></span>
        </section>
        <section><span>家庭地址: <%= data.address %></span></section>
        <section><span>邮箱: <%= data.email %></span></section>
    </div>
    </div>

    <!--大赛信息-->
    <div class="ch-pay" style="margin-bottom: 3em">
        <section><span>大赛名称:</span><span><%= activity.activity_name %></span></section>
        <section><span>金额:</span><span><% if(data.amount == 0) { %> <div style="display:inline;color:red">限时免费  </div><span style="text-decoration: line-through"><%= activity.activity_cost/100%></span><span>元</span> <% } %>
	        <% if(data.amount != 0){ %> <%= activity.activity_cost/100 %>元  <%}%></span></section>
    </div>

    <!--支付按钮-->
<% if(data.signup_state !== 1){ %>
		<% if(data.amount != 0){ %>
    <div class="ch-footer">
        <a href="/order" > <div style="background: #666;color:#fff">稍后支付</div></a>
        <a href="javascript:;" id="pay" origin="<%= data.id %>"><div>立即支付</div></a>
    </div>
		<% } %>

		<div style="position: fixed;right: 0;top: 55%;">
			<a href="/order/<%= data.id %>/edit"> <img src="http://test.baoming.xingaokaowang.cn/static/images/edit.png" width="41"></a>
		</div>

		<% if(data.amount == 0) { %>
		<div class="ch-footer">
			<a href="/commit/<%= data.id %>"><div style="width: 100%">立即报名</div></a>
		</div>
		<% } %>
<%}%>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="http://test.baoming.xingaokaowang.cn/static/js/weixinpay-2512f4f0ae.js"></script>
</html>