<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>希望杯</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/css/apply.css">
	<!--<link rel="stylesheet" href="css/city-picker.css">-->
</head>
<body>
<!--头部-->
<header>
	<span class="left"><img src="/static/images/arrow-left.png" onclick="history.back()"></span>
	<span class="center">填写报名表</span>
	<span class="left"><a href="/order"><img src="/static/images/user.png"></a></span>
</header>
<!--报名表单-->
<div class="bm-content" >
	<form action="/order/<%=data.id%>/update" method="post">
		<input class="input-text" type="text" placeholder="参赛者姓名" onfocus="FocusIn(this,'参赛者姓名')" onblur="NameLenFocusOut(this)"  name="user_name" value="<%=data.user_name%>">
		<div class="bm-select" id="demo_2" style="position: relative;">
			<select id="province" name="province_name" onfocus="change(this)">
			</select>
			<select id="city" name="city_name"  onfocus="change(this)">
			</select>
			<select id="area" name="district_name"  onfocus="change(this)">
			</select>
		</div>
		<input class="input-text" type="text" placeholder="所在学校" name="school_name" onfocus="FocusIn(this,'所在学校')" onblur="NameLenFocusOut(this)" value="<%=data.school_name%>">
		<div class="bm-select" id="custom_data">
			<select class="group" name="grade_name" onfocus="change(this)">
				<option><%= data.grade_name %></option>
			</select>
			<select class="grade" name="class_name" onfocus="change(this)">
				<option><%= data.class_name %></option>
			</select>
		</div>
		<input class="input-text" type="text" placeholder="家长姓名"  onfocus="FocusIn(this,'家长姓名')" onblur="NameLenFocusOut(this)" name="parent_name" value="<%=data.parent_name%>">
		<input class="input-text" type="tel" placeholder="联系电话"   onfocus="FocusIn(this,'联系电话')" onblur="NumLenFocusOut(this)" name="phone_number" value="<%=data.phone_number%>">
		<input class="input-text" type="text" placeholder="家庭住址"  name="address" onfocus="FocusIn(this,'家庭住址')" onblur="NameLenFocusOut(this)" value="<%=data.address%>">
		<input class="input-text" type="email" placeholder="邮箱"  onfocus="FocusIn(this,'邮箱')" onblur="EmailFocusOut(this)" name="email" value="<%=data.email%>">
		<p class="error"><%=error%></p>
		<input type="submit" value="提交">
	</form>
</div>
<!--增加loading图标,透明0.8，居中显示,通过添加删除DisplayNone来显示隐藏-->
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/citys_2.js"></script>
<script src="/static/js/jquery.cxselect.min.js"></script>
<script src="/static/js/interaction.js"></script>
<script>

	$('#demo_2').citys({
		nodata:'hidden',
		province:'<%= data.province_name %>',
		city:'<%= data.city_name %>',
		area:'<%= data.district_name %>'
	})
</script>
</body>
</html>