<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>希望杯作文大赛</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="http://test.baoming.xingaokaowang.cn/css/index-d43bd8a3b0.css">
</head>
<body>
<header>
    <span class="left"></span>
    <span class="center">希望杯作文大赛</span>
    <span class="right"><a href="/order"><img src="http://test.baoming.xingaokaowang.cn/images/user.png"></a></span>
</header>
    <a href="http://mp.weixin.qq.com/s?__biz=MzI4NDUyMjU1MA==&mid=100000003&idx=1&sn=1205a69f7048672392f8fdd4cdaec974&chksm=6bfb605a5c8ce94ce224403fdb106d42af3f499baad002cc4a286536cc5d7cc09029cf58c864&scene=18#wechat_redirect" >
	    <div class="in-content"></div>
	   </a>
   <a href="/register"><input class="button" type="button" value="我要报名"></a>
</body>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="http://test.baoming.xingaokaowang.cn/js/weixinshare-17cdc0cb6a.js"></script>
</html>