<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>希望杯作文大赛</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="http://static.baoming.xingaokaowang.cn/css/index.css">
</head>
<body>
<header>
    <span class="left"></span>
    <span class="center">希望杯作文大赛</span>
    <span class="right"><a href="/order"><img src="http://static.baoming.xingaokaowang.cn/images/user.png"></a></span>
</header>
    <div class="in-content">
    </div>
   <a href="/register"><input class="button" type="button" value="我要报名"></a>
</body>
</html>