<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scale=no" name="viewport">
	<meta name="apple-mobile-web-app-status-bar-style" content="yes" />
	<title>希望杯作文大赛</title>
</head>
<body>
	<div style="width:258px;height: 300px;position: absolute;margin: auto;top: 0;left: 0;right: 0;bottom: 0;text-align: center">
		<img src="http://static.baoming.xingaokaowang.cn/images/qrcode.jpg">
		<div style="display: inline-block">
			为了方便推送后续消息，请长按二维码关注公众号
		</div>
	</div>
</body>
</html>