<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>我的报名</title>
    <link rel="stylesheet" href="/static/css/registration.css">
</head>
<body>
  <div class="registration">
      <header>
           <span class="left"><a href="/"><img src="/static/images/arrow-left.png"></a></span>
           <span class="center">我的报名</span>
           <span class="right"><a href="/"><img src="/static/images/homePage.png"></a></span>
      </header>
      <section>
          <article class="record">
	          <% if (orders) { %>
	           <% orders.forEach(function(order){ %>
		          <div class="registerRecord">
			          <a href="/order/<%=order.id%>">
				          <div class="headTitle"><%= order.activity_name %></div>
				          <div class="recordInfo">
					          <div class="left">
						          <span>参赛者姓名：<%= order.user_name %></span><br>
						          <span class="registerTime">报名时间：<%= order.signup_time %></span>
					          </div>
					          <div class="right">

					          </div>
				          </div>
				          <div class="registerStatus">
					          <div class="left">
						          <% if(order.signup_state === 1){ %>
						          <span class="greenFont">报名成功</span>
						          <% } %>
						          <% if(order.signup_state === 0){ %>
						          <span class="orangeFont">待支付</span>
						          <% } %>
					          </div>
					          <div class="right"><%= order.activity_cost %>元</div>
				          </div>
				        </a>
		          </div>
	           <% }) %>
	          <% } %>

	          <% if (!orders) { %>
	            <div style="width: 50%;margin: 20px auto 0;text-align: center">
		            <img src="/static/images/empty.png" width="100%">
		            <p>暂无报名信息~</p>
	            </div>
						<% }%>

          </article>
      </section>
      <footer></footer>
  </div>
</body>
<script src="/static/js/order.js"></script>
</html>