<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>希望杯作文大赛</title>
    <link rel="stylesheet" href="http://test.baoming.xingaokaowang.cn/css/registerSuccess-9121853e1d.css">
</head>
<body>
<div class="registerSuccess">
  <section>
      <article>
          <div>
              <img src="http://test.baoming.xingaokaowang.cn/images/registerSuccess.png" alt="报名成功">
          </div>
      </article>
  </section>
  <footer>
      <div><a href="/register"><button class="continueRegister">继续报名</button></a></div>
      <div><a href="/order"><button class="lookRegister">查看报名</button></a></div>
  </footer>
</div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="http://test.baoming.xingaokaowang.cn/js/weixinshare-17cdc0cb6a.js"></script>
</html>